<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="net.xgui4.wpfetch_compagnon_app" android:versionName="0.0.0.1">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="WPFetch : OS-Tan Collection" />
</manifest>